<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page for Dashboard
        </title>
    </head>
    <body>
        <h1>Home page</h1>
        <a href="/referrals">Referrals</a>
        <a href="/patients">Patients</a>
    </body>
</html>