<!DOCTYPE html>
<html>
    <head>
        <title>
            Options
        </title>
    </head>
    <body>
        <h1>Options</h1>
        <p><a href="/">Go Back</a></p>
        <% options.forEach(function(o) { %>
            <li ><span><%= o.options %> </span></li>
        <% }); %>
    </body>
</html>

